.dashboard{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
}

.diet-plan{
    flex: 4 1 0px;
    background-color: green;
}

.plates-and-diets{
    flex: 1 1 0px;
    background-color: gold;
}

