.table-plate-card{
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-plate-image{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;
}

.table-plate-image img{
    height: 100%;
}

.table-plate-title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
}

.table-plate-title p{
    font-weight: 600;
    font-size: 0.75rem;
}

.nutrition-label-wrapper{
    height: 20%;
    width: 100%;
}



